<head>
    <link rel="stylesheet" href="./styles.css"></link>
</head>
<body class="bg">
    <div class="left column"></div>
    
    <div class="main-container">
        <div class="message-container bg-alt">
                <div class="message secondary-alt">
                        <p class="text">sdfhksdfgsdjklfhsdjkh</p>
                    </div>
                    <div class="message secondary">
                        <span class="name-right primary">recieved</span>
                        <p class="text">sdfhksdfgsdjklfhsdjkh sdfhksdfgsdjklfhsdjkhsdfhksdfgsdjk lfhsdjkhsdfh ksdfgsdjklfhsdjkhsdfhksdfgsdjklfhsd jkhsdfhksdfgsdjklfhsdjkh</p>
                    </div>
                    <div class="message secondary-alt">
                        <span class="name-left primary">sent</span>
                        <p class="text ">sdfhksdfgsdjklfhsdjkh</p>
                    </div>
                    <div class="message secondary ">
                        <p class="text ">sdfhksdfgsdjklfhsdjkh sdfhksdfgsdjklfhsdjkhsdfhksdfgsdjk lfhsdjkhsdfh ksdfgsdjklfhsdjkhsdfhksdfgsdjklfhsd jkhsdfhksdfgsdjklfhsdjkh</p>
                    </div>
                    <div class="message secondary-alt ">
                        <p class="text  ">sdfhksdfgsdjklfhsdjkh</p>
                    </div>
                    <div class="message  secondary  ">
                        <p class="text ">sdfhksdfgsdjklfhsdjkh sdfhksdfgsdjklfhsdjkhsdfhksdfgsdjk lfhsdjkhsdfh ksdfgsdjklfhsdjkhsdfhksdfgsdjklfhsd jkhsdfhksdfgsdjklfhsdjkh</p>
                    </div>
                    <div class="message secondary-alt ">
                        <p class="text ">sdfhksdfgsdjklfhsdjkh</p>
                    </div>
                    <div class="message secondary ">
                        <p class="text  ">sdfhksdfgsdjklfhsdjkh sdfhksdfgsdjklfhsdjkhsdfhksdfgsdjk lfhsdjkhsdfh ksdfgsdjklfhsdjkhsdfhksdfgsdjklfhsd jkhsdfhksdfgsdjklfhsdjkh</p>
                    </div>
                    <div class="message  secondary-alt">
                        <p class="text ">sdfhksdfgsdjklfhsdjkh</p>
                    </div>
                    <div class="message secondary-alt ">
                        <p class="text ">sdfhksdfgsdjklfhsdjkh</p>
                    </div>
                    <div class="message  secondary-alt">
                            <p class="text  ">sdfhksdfgsdjklfhsdjkh</p>
                    </div>
           
        </div>
        <div id="controls" class="controls bg-alt">
            <div class="height-set"></div>
            <input class="bg bg-border text" placeholder="Enter your message" type="text">
            <input type="button" value="send">
        </div>
    </div>
    <div class="right column"></div>
</body>