.primary {
    color: #00CC00;
}

.text {
    color: #FCFFFD;
    font-size:1em ;
}

.secondary {
    background-color: #00AACC;
}

.secondary-alt {
    background-color: #242D82;
}

.bg-alt {
    background-color: #352D3A;
}

.bg {
    background-color: #04060F;
}

.message-container {
    display: table; 
    height: 100%;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 0.5%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.main-container {
    border: solid;
    border-color: #00CC00;
    margin-top: 3%;
    height: 70%;
    border-top-left-radius : 3%;
    border-top-right-radius : 3%;
    width: 40%;
    height: 70%;
    overflow-y: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.column {
    width: 30%;
    height: 10%;
}

.message {
    /* display: table-row;
    border-radius: 10%;
    margin: 3%; */
    text-align: left;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

p {
    word-wrap: break-word;
    margin: 2%;
}

.bg-border {
    border-color: #04060F;
}

.message > p {
    width: fit-content;
    height: 100%;
    width: 100%;
}

.controls {
    width: 100%;
    display: flex;
}

.controls > input[type="text"] {
    width: 80%;
    color: #FCFFFD;
}

.controls > input[type="button"] {
    width: 20%;
}

.name-right {
    float: right;
}
  
.name-left {
    color: #04060F;
    float: left;
    font-size: 1em;
}