<head>
	<link rel="stylesheet" type="text/css" href=".\messagingStyles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">	
    <title>Gecho - Coming soon</title>
</head>
<body id="body" style="background-image: linear-gradient(33deg,#8800CC, #00AACC);" >

	<h1>Gecho</h1>

    <div class="mainContainer">
        <h2>Completley anonymous messaging coming soon</h2>
        <div class="controlRow">
            <p>Brought to you by Billy Addy</p>
        </div>
    </div>
	
</body>
<script>
    const body = document.getElementById('body');
    let angle = 30;
    let middle = 50;
    setInterval(() =>{
        body.style.cssText = `background-image: linear-gradient(${angle}deg,#8800CC,black 40%, #00AACC);`
        angle += 0.05;
    },5)
</script>
