<head>
	<link rel="stylesheet" type="text/css" href="./messagingStyles.css">	
</head>
<body>
	<div class="mainContainer">			
		<div id="main" class="messageContainer">
				<div class="sent message">
					testy test
				</div>
				
				<div class="sent message">
					testy  test
				</div>		
				
				<div class="received message">
					skldfbadjkasaskldfbadjkasaskldfbadjkasaskldfbadjkasaskldfbadjkasaskldfbadjkasaskldfbadjkasaskldfbadjkasaskldfbadjkasaskldfbadjkasaskldfbadjkasaskldfbadjkasaskldfbadjkas
				</div>
				
				<div class="sent message">
					testy test
				</div>

		</div>
		<div class="controlRow">
			<div class="controls">
				<input type="text"/>
				<input type="button" value="send"/>
			</div>
		</div>
	</div>
	
</body>
<script src="messagingManager.js"></script>
<script src="databaseManager.js"></script>
<script src="templates.js"></script>
<script src="generalFunctions.js"></script>
