body{
  background-color: rgb(26, 26, 26);
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  color:  #5fcc00;
}

h1 {
  font-size:200px;
  font-family: 'Montserrat', sans-serif;
  color:  #5fcc00 !important;
}

.sent {
background-color: #00AACC;
border-radius: 15px 30px 30px 5px; /* top left, top right, bottom, right, bottom left */
float: left;
margin-left: 5px;
margin-right: 200px;
margin-bottom: 10px;
padding-left : 5px;
text-align: left;
color: black;
word-wrap: break-word;
}

.received {
width: 50px;
background-color:  #5fcc00;
color:black;
border-radius: 30px 15px  5px 30px ; /* top left, top right, bottom right, bottom left */
float: right;
margin-right: 5px;
margin-left:1000;
padding-right : 5px;
text-align: right;
float: right;
}

.mainContainer {
  text-align: center;
}

.messageContainer {
margin-top:5%;
display: inline-block;
width: 40%;
height: 70%;
background-color: grey;
overflow-x:auto;
border-radius:  10px 10px 0px 0px;
}

.message {
padding-top:5px;
padding-bottom:5px;
margin-top:5px;
margin-bottom:5px;
color: black;
word-wrap: break-word;
display: block;
width: 200px;
}

.controlRow {
display: block;
height: 5%;
}

.setupControlRow {
display: block;
height: 30%;
width: 100%;
}

.controls {
background-color: grey;
width: 40%;
height: 100%;
display: inline-block;
z-index: 1;
position: relative;
border-radius:  0px 0px 10px 10px;
scroll:auto;
}

.setupControls{
width: 40%;
height: 100%;
display: inline-block;
position: relative;
border-radius:  0px 0px 10px 10px;
}

.setupControls input[type="text"]{
float: left;
  background-color: rgb(26, 26, 26);
color: #5fcc00;
width: 80%;
height: 50%;
  font-size: 30px;
  text-align: center;
font-family: 'Courier New';
border: solid;
border-right: none;
border-color: #5fcc00;
margin-bottom:3%;
outline-width: 0;
}


.setupControls input[type="button"]{
float: right;
background-color: rgb(26, 26, 26);
color: #5fcc00;
height: 50%;
width:20%;
font-size: 25px;
outline-width: 0;
border: inset;
border-color: #5fcc00;
}

.controls input[type="text"]{
width: 90%;
height:100%;
border-radius: 10px 0px 0px 10px;
float: left;
}

.controls input[type="button"]{
height: 100%;
width:10%;
float: right;
border-radius: 0px 10px 10px 0px; /* top left, top right, bottom right, bottom left */
}

input.pressed{
  border-color: #00AACC !important;
}

input:focus[type="text"] + input[type="button"]{
border-bottom-color: #00AACC !important;
}
input:focus[type="text"]{
border-bottom-color: #00AACC !important;
}

.error + input[type="button"]{
border-bottom-color: red !important;
}

.error{
border-bottom-color: red !important;
}

.valid + input[type="button"] {
border-bottom-color: #8800CC!important;
}
.valid {
border-bottom-color: #8800CC !important;
}

.errorPage > h2 {
  color: #00AACC;
  font-size: 70px;
}

.errorPage > p {
  color: #00AACC ;
  font-size: 20px;
}

.errorPage > input {
  background-color: rgb(26, 26, 26);
  color: #5fcc00;
  height: 10%;
  width: 30%;
  font-size: 25px;
  outline-width: 0;
  border: inset;
  border-color: #5fcc00;
}