<head>
	<link rel="stylesheet" type="text/css" href=".\messagingStyles.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">	
</head>
<body>

	<h1>Gecho</h1>

	<div class="mainContainer">			
		<div class="setupControlRow">
			<div class="setupControls">
				<input class="textInput" type="text" id="myID" placeholder = "Please choose an ID"/>				
				<input type="button" id="set" value="Set"/>
				<br>
				<input class="textInput" type="text" id="partner" placeholder = "Enter the ID of your partner" disabled />
				<input type="button" id="connect" value="Connect"/>
			</div>
		</div>
	</div>
	
</body>
<script src="messagingManager.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js"></script>
<script>

	var peer;
	var connection;

	$('#connect').click(function(){

		if ($('#partner').prop('disabled')){			
			$('#partner').addClass('error').prop('placeholder','Select an ID first');
		}
		else if ($(e.target).val().length === 0){		
			$(e.target).addClass('error').prop('placeholder','Please enter a valid ID');
		}
		else {
			console.log(peer);
			connection = connectClient($('#partner').val());
			console.log(connection);
		}
	});
	
	$('#set').click(function(){
	
		peer = createClient($('#myID').val());	
		if ($('#myID').val().length === 0){		
			$('#myID').addClass('error').prop('placeholder','Please enter a valid ID');
		}	
		else{
			$('#set').prop('disabled',true);
			$('#myID').prop('disabled',true).removeClass('error').addClass('valid');
			$('#set').prop('disabled',true).removeClass('error').addClass('valid');
			$('#partner').prop('disabled',false);
		}
	});
	
	$('input[type="text"]').on('keydown',function(e){
		var keycode = (event.keyCode ? event.keyCode : event.which);
		if(keycode == '13')
			$(document.activeElement).next('input[type="button"]').trigger('click');
	});

	$('input[type="button"]')
	.mousedown(function(e){
		$(e.target).addClass('pressed');
	})
	.mouseup(function(e){
		$(e.target).removeClass('pressed');
	});
	
</script>
